/* OBSERVAÇÃO! */
/* Layout construído com a boa prática do mobile first */
/* Final do style.css terá os códigos para tablet, e desktop */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /* Setado font size de 10px padrão do navegador para ajustar a acessibilidade */
    font-size: 62.5%;
}
body{
    /* gradiente do fundo da página */
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(161, 212, 186) 100%);
    background-repeat: no-repeat;
    width: 90%;
    margin: auto;
    font-family: montserrat, sans-serif;
}
body::before{
    /* tarja verde escura no header */
    content: "";
    background-color: #2fa97c;
    display: block;
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0px;
    z-index: -1;
}
header{
    padding-top: 15px;
    z-index: 10;
}
h1{
    /* estilização do titulo do cabeçalho */
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
    color: white;
}
.container{
    /* alinhamento e estilização da primeira seção da página */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}
.container img{
    /* configuração do tamanho da imagem */
    width: 100vw;
    padding: 0 1.5rem 0;
    /* fim da estilização da primeira seção */
}
.licoes{
    /* inicida da estilização da segunda seção */
    margin-top: 2rem;
}
.licoes ul li{
    /* estilização dos itens da lista dentro da segunda seção */
    list-style: none;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 2rem;
}
.licoes h2:nth-of-type(2){
    margin-top: 1rem;
    /* fim da estilização da segunda seção */
}
.container-article{
    /* estilização da terceira seção */
    margin-top: 2rem;
}
.container-article h3{
    font-size: 1.8rem;
}
.container-article p{
    font-size: 1.4rem;
    line-height: 2rem;
}
h3{
    margin-top: 1rem;
    /* fim da estilização da terceira seção */
}
table{
    /* estilização da tabela */
    margin-top: 20px;
}
td, th{
    border: 1px solid black;
    font-size: 1.2rem;
}
table th:nth-of-type(1){
    background-color: black;
    /* fim da estilização da tabela */
}
footer{
    /* estilização do rodapé */
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}
footer a{
    text-decoration: none;
    /* fim da estilização do rodapé */
}
@media (min-width:700px) {
    /* estilização para o table */
    body{
        width: 70%;
    }
    h1{
        font-size: 3.6rem;
    }
    h2{
        font-size: 1.8rem;
    }
    .container img{
        width: 50vw;
        padding: 0 1.5rem 0;
    }
    .licoes{
        display: flex;
        justify-content: space-between;
    }
    .licoes ul li{
        font-size: 1.8rem;
    }
    .container-article p{
        font-size: 1.6rem;
    }
    footer p{
        font-size: 1.6rem;
    }
    /* fim da estilização do tablet */
}
@media (min-width: 1024px) {
    /* ajustes para versão desktop */
    body{
        width: 50%;
    }
    .container img{
        width: 25vw;
    }
    h1{
        font-size: 3.6rem;
    }
    h2{
        font-size: 2.8rem;
    }
    h3{
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }
    .licoes ul li{
        font-size: 2.1rem;
        line-height: 3rem;
    }
    .container-article{
        display: flex;
        gap: 3rem;
    }
    .container-article p{
        font-size: 2.1rem;
        line-height: 2.4rem;
    }
    .container-article h3 {
        font-size: 2.8rem;
    }
    footer p{
        font-size: 1.6rem;
    }
    /* fim da estilização do desktop */
}